layout {

    focus-ring {
        active-color   "#e46867"
        inactive-color "#291414"
        urgent-color   "#bd5251"
    }

    border {
        active-color   "#e46867"
        inactive-color "#291414"
        urgent-color   "#bd5251"
    }

    shadow {
        color "#29141470"
    }

    tab-indicator {
        active-color   "#e46867"
        inactive-color "#8d0d0c"
        urgent-color   "#bd5251"
    }

    insert-hint {
        color "#e4686780"
    }
}

recent-windows {
    highlight {
        active-color "#e46867"
        urgent-color "#bd5251"
    }
}
