layout {

    focus-ring {
        active-color   "#67ade4"
        inactive-color "#13202a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67ade4"
        inactive-color "#13202a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#13202a70"
    }

    tab-indicator {
        active-color   "#67ade4"
        inactive-color "#0c548d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67ade480"
    }
}

recent-windows {
    highlight {
        active-color "#67ade4"
        urgent-color "#fd4663"
    }
}
